/* CSS Document */

.top{ border:1px solid #ececec;}
.top_center{height:30px;width:1200px;margin:0 auto;}
.top_center .ship{ height:31px; width:108px;background-color:#fff; position:relative;bottom:0; text-align:center;line-height:31px; float:left;}
.top_center .top_bars{ float:right;}
.top_center .top_bars li{ float:left;}
.top_center .top_bars li a{ height:30px; line-height:30px; padding:0 18px;}
.top_center .top_bars li span.jt_down{ display:inline-block; width:13px; height:10px; margin:0 6px; vertical-align:middle;background:url(../demand/images/jt_down_03.png) no-repeat right;}
.header3{ width:1200px; margin:0 auto; overflow:hidden;}
/* 108px 210px */
.header3 img{ float:left; margin:20px 108px 20px 0;}
.header3 .search{ float:left; margin:20px 0 20px 10px;}
.header3 .searchbox{ border:1px solid #c5131e; overflow:hidden;}
.header3 .searchbox input{ border:none; height:34px; width:415px; float:left;}
.header3 .searchbox span{ float:left; line-height:34px; text-align:center; color:#fff; background-color:#c5131e; width:86px; font-size:14px; font-weight:bold; cursor:pointer;}
.search p{ height:32px; line-height:32px;}
.header3 .searchbox span a{ padding:0 10px;}
.header3 .carbox{
	float:right; margin:30px 0 44px 0; }
.header3 .carbox>div{float:left; height:30px;line-height:30px;border:1px solid #efefef;padding-left:32px; margin:0 10px;}
.header3 .myyy{   background:#f7f7f7 url(../demand/images/xiaotubiao_06.png) no-repeat left; }
.header3 .myyy .sj_down{ margin:0 3px;}
.header3 .myyy .sj_down{background:url(../demand/images/sj_right_07.png) no-repeat left; margin:0 6px;width:10px;height:7px; display:inline-block; vertical-align:middle;}
.header3 .car{  background: #f7f7f7 url(../demand/images/gouwuchi_06.png) no-repeat left;}
.header3 .car .sj_right{ margin:0 3px;}
.sj_down{
	display:inline-block;
	vertical-align:middle;
	width:10px;
	height:6px;
	background:url(../demand/images/sj_right_07.png) no-repeat center;
	}

.sj_right{
	display:inline-block;
	vertical-align:middle;
	width:8px;
	height:18px;
	background:url(../demand/images/gouwuchi_03.png) no-repeat center;
	}	
.waikuang{border-bottom:2px solid #C00;}
.fenlei{ height:40px; width:1200px; margin:0 auto;}
.fenlei h1{ height:40px;width:208px; line-height:40px;float:left; background-color:#C00; color:#fff; padding-left:18px;}
.fenlei h1 span{ background:url(../images03/images/xiaojiantou_03.png) no-repeat right; float:right; width:15px; height:15px;margin-right:20px;margin-top:13px; }
.fenlei li{ float:left; margin-left:25px; margin-top:10px;}

.shadow{ height:620px; background:#F2F0F0;}
.tou_bu_top{ width:1200px; height:40px; margin:0 auto;}
.tou_bu_top h1{ font-size:24px; float:left;height:40px; line-height:40px;}
.tou_bu_top h2{ float:left; height:40px; line-height:40px;}



.shadow_center{ width:1200px; height:579px; margin:0 auto; background:#fff; }

.shadow_center .photo_show{ width:375px; height:579px; float:left;}
.photo_show img{ float:left; margin-left:50px; margin-top:24px;}
.photo_show small_photo_show{ background:url(../images03/images/nei_rong_tu1_45.png) no-repeat center; width:338px; height:74px; float:left;}
.photo_show h1{ float:left; margin-left:10px;}
.photo_show .share{ width:120px; height:22px; float:right;}
.share p{ float:left;}
.share h2{ float:left;}
.share .share1{ float:left; background:url(../images03/images/nei_rong_tu1_49.png) no-repeat center; width:19px; height:20px;}
.share .share2{ float:left; background:url(../images03/images/nei_rong_tu1_51.png) no-repeat center; width:21px; height:20px;}

.introduce{ width:815px; height:578px; float:left; margin-left:10px; }
.introduce h1{ width:553px; height:27px; float:left; font-size:16px; margin-top:15px;}
.introduce .sales_promotion{ width:607px; height:133px; background:#F7F5F6; float:left; margin-top:15px;}
.sales_promotion .zheng_he1{ width:453px; height:37px; float:left; margin-top:20px; line-height:37px; margin-left:20px;}
.zheng_he1 span{ width:54px; height:37px; float:left;}
.zheng_he1 .price{ color:red; font-size:18px; float:left;}
.sales_promotion .zheng_he1 a{ float:left; color:#636CD5; margin-left:4px;}
.sales_promotion .zheng_he2{ width:453px; height:37px; float:left; margin-top:10px; line-height:37px; margin-left:20px;}
.zheng_he2 .zeng_ping{ width:37px; height:20px; background:red; color:#fff; float:left; margin-top:10px; font-size:12px; line-height:20px; text-align:center;}
.zheng_he2 h2{ color:red;}
.zheng_he2 p{ float:left;}
.zheng_he2 span{ width:25px; height:25px; background: #fff url(../images03/images/nei_rong_tu1_20.png) no-repeat center; float:left; margin-top:8px; margin-left:4px;}
.zheng_he3{ width:300px; height:20px; float:left; margin-top:6px; margin-left:80px; line-height:20px;}
.zheng_he3 h1{ width:60px; height:20px; float:left; margin-top:0px; font-size:12px; background:red; color:#fff; text-align:center;}
.zheng_he3 p{ float:left; color:red; margin-left:6px;}
.zheng_he3 a{ float:left; color:#636CD5;margin-left:4px;}
.sales_promotion .estimate{ width:110px; height:56px; float:right; margin:10px 0 0 10px; border-left:1px solid gray;}
.estimate .smooth{ width:90px; height:25px; background:#EEEEEE; float:right; margin-right:10px;}
.estimate a { color:#009AE9; float:left; margin-left:20px; margin-top:14px;}
.smooth span{ width:25px; height:18px; background:url(../images03/images/nei_rong_tu1_10.png) no-repeat center; float:left; margin-top:5px;}
.smooth h3{ float:left; line-height:25px;color:#009AE9;}
.sales_promotion h4{ float:right; width:86px; height:20px; line-height:20px;}
.sales_promotion h4 a{ color:red; /* float:left; */}
.sales_promotion h4 span{ float:right; width:16px; height:16px; background:url(../images03/images/nei_rong_bu_chong_03.png) no-repeat center; margin-top:5px; margin-right:6px;}



.apple_logo{ width:200px; height:145px; float:right;}
.apple_logo .logo_black{ width:170px; height:52px; float:left; border-bottom:1px solid gray; background:url(../images03/images/liebiao_tubiao_18.png) no-repeat center;}
.apple_logo .service_support{ width:170px; height:81px; float:left; border-bottom:1px solid gray;}
.service_support p{ padding-top:20px; padding-left:30px;}
.service_support .song{ width:25px; height:27px; background:url(../images03/images/nei_rong_tu1_14.png) no-repeat center; float:left; margin-left:30px;}
.service_support .zi_ti{  width:24px; height:26px;float:left; background:url(../images03/images/nei_rong_tu1_17.png) no-repeat center;}
.service_support h5{ float:left; margin-top:5px;}


.introduce ul{ width:607px; height:372px; float:left; overflow:hidden; margin-top:5px;}
.introduce .fu_wu1{ width:386px; height:26px; float:left;}
.fu_wu1 h3{ float:left;}
.fu_wu1 h5{ float:left; margin-left:25px;}
.fu_wu1 h4{ float:left; margin-left:12px; font-size:14px;}
.fu_wu1 select{ float:left; margin-left:10px;}
.fu_wu1 p{ float:left; margin-left:5px;}

.fu_wu2{ width:607px; height:26px; float:left; border-bottom:1px dashed gray;}
.fu_wu2 h3{ float:left;}
.fu_wu2 h4{float:left; margin-left:25px;}
.fu_wu2 .fen{ width:20px; height:22px;float:left; background:url(../images03/images/nei_rong_tu1_26.png) no-repeat center;margin-left:10px;}
.fu_wu2 .mian{ width:20px; height:22px;float:left; background:url(../images03/images/nei_rong_tu1_29.png) no-repeat center;margin-left:10px;}
.fu_wu2 .zi{ width:20px; height:22px;float:left; background:url(../images03/images/nei_rong_bu_chong_07.png) no-repeat center;margin-left:10px; margin-top:-3px;}
.fu_wu2 .tui{ width:19px; height:22px;float:left; background:url(../images03/images/nei_rong_tu1_33.png) no-repeat center;margin-left:10px;}
.fu_wu2 h5{ float:left; margin-left:2px;}


.fu_wu3{ height:35px;width:607px; float:left; margin-top:10px;}
.fu_wu3 h3{ float:left; margin-top:5px;}
.fu_wu3 .phone_color{ width:78px; height:33px; border:1px solid gray; float:left; margin-left:10px;}
.fu_wu3 .phone_color .xiao_shou_ji{ width:19px; height:27px; background:url(../images03/images/nei_rong_tu1_40.png) no-repeat center; float:left; margin-top:5px; margin-left:10px;}
.phone_color .xiao_shou_ji p{ float:left; margin-top:5px; margin-left:20px; width:40px;}

.fu_wu4{ height:35px;width:607px; float:left; margin-top:10px;}
.fu_wu4 h3{ float:left; margin-top:5px;}
.fu_wu4 h4{ float:left; margin-top:2px; width:51px; height:27px; border:1px solid red; margin-left:10px; line-height:27px; text-align:center;}

.fu_wu5{ height:35px;width:607px; float:left; margin-top:10px;}
.fu_wu5 h3{ float:left; margin-top:5px;}
.fu_wu5 h4{ float:left; margin-top:2px; width:47px; height:27px; border:1px solid gray; margin-left:10px; line-height:27px; text-align:center;}
.fu_wu5 h5{ float:left; margin-top:2px; width:47px; height:27px; border:1px solid red; margin-left:10px; line-height:27px; text-align:center;}

.fu_wu6{ height:35px;width:607px; float:left; margin-top:10px;}
.fu_wu6 h3{ float:left; margin-top:5px;}
.fu_wu6 h4{ float:left; margin-top:2px; width:51px; height:27px; border:1px solid red; margin-left:10px; line-height:27px; text-align:center;}

.fu_wu7{ height:35px;width:607px; float:left; margin-top:10px;}
.fu_wu7 h3{ float:left; margin-top:5px;}
.fu_wu7 h4{ float:left; margin-top:2px; width:64px; height:27px; border:1px solid red; margin-left:10px; line-height:27px; text-align:center;}


.fu_wu8{ height:35px;width:607px; float:left; margin-top:10px;}
.fu_wu8 h3{ float:left; margin-top:5px;}
.fu_wu8 div{ width:108px;  float:left;border:1px solid gray; margin-left:10px;  text-align:center;}
.fu_wu8 .bao{ width:20px; height:22px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_03.png) no-repeat center;}
.fu_wu8 h4{ float:left; width:70px; line-height:20px;}
.fu_wu8 .hei_jt{ width:14px; height:22px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_07.png) no-repeat center;}
.fu_wu8 .huan{ width:18px; height:21px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_10.png) no-repeat center;}
.fu_wu8 .qiang{ width:21px; height:21px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_12.png) no-repeat center;}
.fu_wu8 .sui{ width:21px; height:22px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_05.png) no-repeat center;}

.fen_lei10 .number{ width:64px; height:39px; float:left; border:1px solid gray; text-align:center; }
.fen_lei10 .number .number_1{ width:40px; height:39px; float:left; border-right:1px solid gray; line-height:39px; }
.fen_lei10 .number .jia{ width:23px; height:19px; float:right; border-bottom:1px solid gray; line-height:19px; background:#F4F4F4;}
.fen_lei10 .number .jian{ width:23px; height:19px; float:right; line-height:19px;background:#F4F4F4; /* border-bottom:1px solid gray; */}
.fen_lei10 .shopping_car{ width:185px; height:40px; float:left ; margin-left:10px; background:#C5131E; color:#fff;}
.fen_lei10 .shopping_car .small_car{ width:28px; height:27px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_20.png) no-repeat center; margin-top:8px; margin-left:20px;}
.fen_lei10 .shopping_car h3{ float:left; margin-top:10px; margin-left:10px;}


.tui_jian_pei_zhi{ width:1198px; height:310px; margin:10px auto; border:1px solid #dddddd; overflow:hidden;  }
.tui_jian_pei_zhi_top{ width:1198px; height:39px; border-bottom:1px solid #dddddd; text-align:center;}
.tui_jian_pei_zhi_top h1{ width:97px; height:38px;float:left; border-top:2px solid #E4393C; border-right:1px solid #ddd;background:#fff; line-height:38px; /* position:relative;top:-1px; */}
.tui_jian_pei_zhi_top h2{ width:97px; height:39px; float:left; border-right:1px solid #ddd; line-height:39px;}


.shi_li_phone{ width:189px; height:260px; float:left; margin-top:10px; border-right:1px solid #ddd;}
.shi_li_phone .shou_ji{ width:104px; height:130px; float:left; margin:30px 0 0 40px; background:url(../images03/images/you_yu_nei_rong_tu2_24.png) no-repeat center;}
.shi_li_phone .da_jia{ width:27px; height:24px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_30.png) no-repeat center; margin:105px 0 0 10px;}
.shi_li_phone h1{ float:left; margin-left:20px;}


.xiang_xi_pei_zhi{ width:819px; height:260px; float:left;margin-top:10px;}
.xiang_xi_pei_zhi_top{ width:819px; height:29px; float:left; border-bottom:1px solid #ddd;}
.xiang_xi_pei_zhi_top li{ float:left;height:29px; padding:0 10px 0 10px; line-height:29px;}
.xiang_xi_pei_zhi_top .zheng_xian_shi{color:#D91F1F; background:#fff; border-right:1px solid #ddd; border-top:1px solid #D91F1F; } 
.xiang_xi_pei_zhi_top .li_1{ margin-left:3px; border:1px solid #ddd; text-align:center; border-bottom:none;}
.xiang_xi_pei_zhi .xiang_zuo{ width:26px; height:68px; float:left; border:1px solid #ddd; border-left:none; margin-top:80px;}
.xiang_zuo .da_zuo_jt{ width:20px; height:24px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_34.png) no-repeat center; margin-top:25px; margin-left:3px;}
.er_ji{ width:160px; height:180px; float:left;}
.er_ji img{ float:left; margin:30px 0 0 30px;}
.er_ji h3{ float:left; margin-left:25px;}
.er_ji h4{ float:left; color:#E54B5E; width:100px;margin-left:25px;}
.big_jia{ width:27px; height:180px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_30.png) no-repeat center;}
.xiang_you{width:26px; height:68px; float:right; border:1px solid #ddd; border-right:none; margin-top:80px; position:relative; margin-right:-2px; background:#fff;}
.xiang_you .da_zuo_jt{ width:20px; height:30px; float:left; background:url(../images03/images/you_jian_tou_03.png) no-repeat center; margin-top:20px; margin-left:4px;}

.zui_you{ height:270px; width:188px; border-left:1px solid #ddd;/* float:right; */
 margin-left:1010px; background:#F8F8F8;}
.zui_you h2{ width:160px; float:left; margin:85px 0 0 20px;}
.zui_you h2>a{ color:#DF2020;}
.zui_you h3{ float:left; margin-left:20px;}
.zui_you h5{ float:left; width:90px; height:28px; color:#fff; line-height:28px; text-align:center; background:#DF2020; margin-left:20px;}
.zui_you h4{ float:left; width:100px;}
.zui_you h6{ float:left; color:#DF2020;width:100px;}
.zui_you .clear{ float:left; color:#7585D0; margin-left:8px;}



.commodity{ width:1200px; /* height:4352px; */ margin:10px auto; overflow:hidden;}
.commodity .service_time{ width:208px; height:80px; float:left; border:1px solid #ddd;}
.service_time h1{ width:208px; height:31px; float:left; border-bottom:1px solid #ddd; line-height:31px; text-align:center;}
.service_time .QQ_service{ width:208px; height:48px; float:left; }
.service_time .QQ_service .qq_yi_dong{ background:url(../images03/images/you_yu_nei_rong_tu2_44.png) no-repeat center; float:left; margin-left:8px; width:84px; height:27px; margin-top:12px;}
.commodity .product_show1{ width:978px;  float:right; margin:0 0px 0 10px; }
.commodity .product_show{ width:978px; height:4352px; float:right; border:1px solid #ddd; border-top:none;margin:0 0px 0 10px; }
.product_show_top{ width:978px; height:39px; float:left; border-bottom:1px solid #ddd; }
.product_show_top li{ float:left; text-align:center; line-height:38px;}
.product_show_top .te_shu_top{ width:91px; height:38px; border-top:2px solid #E84A5F; color:#E84A5F; border-right:1px solid #ddd; background:#fff;}
.product_show_top .shang1{ width:91px; height:39px; border-top:1px solid #ddd;border-right:1px solid #ddd;}
.product_show_top .gift{ width:426px; height:39px;border-top:1px solid #ddd;}
.gift p{ float:left; margin:0 0 0 90px;}
.gift .shou_ji_tu_biao{ width:23px; height:39px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_40.png) no-repeat center;}
.gift .gift_jt{ width:13px; height:39px; float:left; background: url(../images03/icons/jt_down.png) no-repeat center;}
.gift h2{ width:80px; height:20px; background:#E84A5F; float:right; margin:10px 12px 0 0; color:#fff; line-height:20px;}

.product_show .product_parameter{ width:936px; height:192px; float:left; border:1px solid #ddd; margin:10px 20px 10px 20px;}
.product_parameter .parameter{ width:906px; height:97px; float:left; border-bottom:1px dashed #ddd;}
.parameter .ping_mu{ width:250px; height:80px; float:left; margin-left:40px;}
.ping_mu .tu_biao1{ width:25px; height:80px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_48.png) no-repeat center;}
.ping_mu h2{ float:left; margin-top:20px;}
.ping_mu p{ float:left;}

.parameter .she_xiang{ width:230px; height:80px; float:left; margin-left:25px;}
.she_xiang .tu_biao2{ width:34px; height:80px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_51.png) no-repeat center;}
.she_xiang h2{ float:left; margin-top:20px;}
.she_xiang p{ float:left;}

.parameter .wang_luo{ width:270px; height:80px; float:left; margin-left:70px;}
.wang_luo .tu_biao3{ width:33px; height:80px; float:left; background:url(../images03/images/you_yu_nei_rong_tu2_53.png) no-repeat center;}
.wang_luo h2{ float:left; margin-top:20px;}
.wang_luo p{ float:left;}

.product_name{ width:906px; height:96px; float:left;}
.product_name p{ float:left; margin:20px 0 0 40px;}
.product_name a{ float:right; margin:55px 25px 0 0; color:#9083CD;}

.product_show img { float:left; margin-left:16px;}

.brand{ width:208px; height:164px; float:left; border:1px solid #ddd;}
.brand h2{ float:left;width:198px; height:19px; border-bottom:1px solid #ddd; padding-left:10px; padding-top:10px;}
.brand li{ float:left; width:90px; padding-left:9px; margin-top:8px;}
.zui_zhong_buy{ width:208px; height: 760px; float:left; border:1PX solid #DDD; margin-top:10px;}
.zui_zhong_buy .bi_ji_ben{ width:188px; height:180px; border-bottom: 1px dashed #ddd; float:left; margin:0 10px;}
.zui_zhong_buy .bi_ji_ben1{ width:188px; height:184px;margin:0 10px;float:left; }
.zui_zhong_buy h2{ float:left; width:188px; padding:10px; border-bottom:1px solid #ddd;}
.zui_zhong_buy p{ float:left; margin-left:20px;}
.zui_zhong_buy h3{ float:left; font-size:14px; margin:10px 0 0 70px; color:#E4393C;}
.zui_zhong_buy img{ float:left; margin-left:50px; margin-top:10px;}
.rank{ width:208px; height:404px; float:left; border:1px solid #ddd; margin-top:10px;}
.rank h2{ float:left; width:198px; height:19px; border-bottom:1px solid #ddd;padding-left:10px; padding-top:10px; }
.rank .rank_top{ width:208px; height:29px; float:left; border-bottom:1px solid #ddd; text-align:center;}
.rank_top .similar_price{ width:58px; height:20px; float:left; margin-left:5px; border:1px solid #ddd; border-bottom:none; margin-top:9px; line-height:20px; color:#E76A84; background:#fff;}
.rank_top .similar_type{width:58px; height:20px; float:left; margin-left:5px; border:1px solid #ddd; border-bottom:none;margin-top:9px;line-height:20px;}
.rank_top .similar_kind{width:58px; height:20px; float:left; margin-left:5px; border:1px solid #ddd; border-bottom:none;margin-top:9px;line-height:20px;}
.similar_price_specific{ width:188px; height:68px; float:left; border-bottom:1px dashed #ddd;}
.similar_price_specific .specific_tu{ width:72px; height:47px;/*  float:left; */ background:url(../images03/images/jia_03.png) no-repeat center;}
.similar_price_specific p{ float:right;width:120px; margin-top:8px; }
.similar_price_specific h4{ float:right;width:120px; }
.similar_price_specific h3{ float:right; color:#E76A84; margin-right:64px;}
.similar_price_specific1{ width:188px; height:68px; float:left; }
.similar_price_specific1 .specific_tu{ width:72px; height:47px;/*  float:left; */ background:url(../images03/images/jia_03.png) no-repeat center;}
.similar_price_specific1 p{ float:right;width:120px; margin-top:8px; }
.similar_price_specific1 h4{ float:right;width:120px; }
.similar_price_specific1 h3{ float:right; color:#E76A84; margin-right:64px;}



.product_show1 .statement{ width:978px; height:412px; float:right; border:1px solid #ddd; margin-top:10px;}
.statement .zheng_ping{ width:978px;  float:left;}
.statement .zheng_ping h2{ float:left; font-size:16px; color:#E64749; margin:27px 0 0 30px; width:978px}
.statement .zheng_ping p{ float:left; margin-left:55px; margin-top:15px;}

.statement .lian_bao{ width:978px;  float:left;}
.statement .lian_bao h2{ float:left; font-size:16px; color:#E64749; margin:27px 0 0 30px; width:978px}
.statement .lian_bao p{ float:left; margin-left:55px;margin-top:15px;}

.statement .wu_you{ width:978px;  float:left;}
.statement .wu_you h2{ float:left; font-size:16px; color:#E64749; margin:27px 0 0 30px; width:978px}
.statement .wu_you p{ float:left; margin-left:55px;margin-top:15px;}

.statement .quan_li{ width:978px;  float:left;}
.statement .quan_li h2{ float:left; font-size:16px; color:#E64749; margin:27px 0 0 30px; width:978px}
.statement .quan_li p{ float:left; margin-left:55px;margin-top:15px;}

.product_show1 h6{ float:left; margin:10px 0;}
.product_show1 .product_evaluate{ width:978px; height:123px; float:right; border:1px solid #ddd; background:url(../images03/images/zheng_zhang_03.png) no-repeat center;}
.comment{ width:978px; height:288px; float:right; margin-top:10px; border:1px solid #ddd; border-top:none;}
.comment .comment_top{ width:978px ; height:30px; border-bottom:1px solid #ddd;}
.comment_top li{ float:left; text-align:center; line-height:29px;}
.comment_top .ping_1{ width:99px; height:29px; border-top:2px solid #E64749; border-right:1px solid #ddd; background:#fff;}
.comment_top .ping_2{ width:99px; height:30px;  border-right:1px solid #ddd;border-top:1px solid #ddd;}
.comment_top .ping_3{ width:478px; height:30px;border-top:1px solid #ddd; }
.comment_zheng_top{ width:978px; height:29px; float:left; margin-top:10px; background:#F7F7F7; border-bottom:1px solid #ddd;}
.comment_zheng_top h2{ float:left; margin-left:240px;}
.comment_zheng_top h3{ float:left; margin-left:240px;}
.comment_zheng_top h4{ float:left; margin-left:65px;}
.comment_zheng_top h5{ float:left; margin-left:140px;}
.comment_zi{ width:525px; height:210px; float:left;}
.comment_zi div{ float:left; margin-top:35px; margin-left:18px;}
.comment_zi h2{ float:left; font-size:10px}
.comment_zi h3{ float:left; margin-top:40px; margin-left:18px;}
.comment_zi a{ float:right; margin-top:60px;}
.ping_yong_hu{ float:left; background:url(../images03/images/jia2_03.png) no-repeat center; width:434px; height:164px; margin-top:38px;}


.page_number{  width:625px; height:30px;  overflow:hidden; margin:30px auto; float:left; margin-left:200px}
.page_number ul li{ float:left; margin-right:8px;}
.page_number .number1{ width:68px; height:28px; border:1px solid gray; line-height:28px; text-align:center;} 
.page_number .number2{ width:38px; height:28px; border:1px solid gray; line-height:28px; text-align:center;}
.page_number .number3{ width:20px; height:30px;  line-height:30px; text-align:center; } 
.page_number .number4{ width:40px; height:30px;  line-height:30px; text-align:center; background:#E64E50; color:#fff;}
.page_number .number5{ width:40px; height:30px;  line-height:30px; text-align:center; }  
.page_number .number6{ width:28px; height:28px;  line-height:28px; text-align:center; border:1px solid gray;} 
.page_number .number7{ width:46px; height:28px;  line-height:28px; text-align:center; border:1px solid gray;background:#F5F5F5;}
.page_number .number8{ width:30px; height:30px;  line-height:30px; text-align:center; }
.page_number .number9{ width:20px; height:30px;  line-height:30px; text-align:center; }


.gou_mai_zi_xun{ width:978px; height:90px; float:right; margin-top:10px; border:1px solid #ddd; border-top:none;}
.gou_mai_zi_xun .gou_mai_zi_xun_top{ width:978px; height:31px; border-bottom:1px solid #ddd; }
.gou_mai_zi_xun li{ float:left; height:31px; line-height:31px;}
.gou_mai_zi_xun .xun_1{ border-top:1px solid #F00; padding:0 15px; border-right:1px solid #ddd; background:#fff; height:31px;}
.gou_mai_zi_xun .xun_2{ border-top:1px solid #ddd; padding:0 15px;border-right:1px solid #ddd;}
.gou_mai_zi_xun .xun_3{ border-top:1px solid #ddd; width:560px; float:right;}
.gou_mai_zi_xun .wen_xin_ti_shi{ float:left; padding:15px 10px;}

.wang_you_tao_lun{ width:978px;overflow:hidden; float:right; margin-top:10px; border:1px solid #ddd; border-top:none;}
.wang_you_tao_lun .wang_you_tao_lun_top{ width:978px; height:31px; border-bottom:1px solid #ddd; }
.wang_you_tao_lun li{ float:left; height:31px; line-height:31px;}
.wang_you_tao_lun .xun_1{ border-top:1px solid #F00; padding:0 15px; border-right:1px solid #ddd; background:#fff; height:31px;}
.wang_you_tao_lun .xun_2{ border-top:1px solid #ddd; padding:0 15px;}
.wang_you_tao_lun .xun_3{ border-top:1px solid #ddd; width:624px; float:right;}
.wang_you_tao_lun .zhogn_jian{ float:left; padding:10px 10px; border-bottom:1px dashed #ddd; width:938px; margin-left:10px;}
.zhogn_jian h2{ float:left; margin-left:10px;}
.zhogn_jian h3{ float:left; margin-left:620px;}
.zhogn_jian h4{ float:left;margin-left:40px;}
.zhogn_jian h5{ float:left;margin-left:90px;}
.wang_you_tao_lun p{ float:left; margin-top:15px;margin-bottom:10px ; margin-left:15px;}
.wang_you_tao_lun a{ float:left;margin-top:15px; margin-bottom:10px; color:#2374B0;}

.your_interest{ width:978px; overflow:hidden; border:1px solid #ddd;float:right; margin-top:10px;}
.your_interest h3{ width:978px; height:39px;  padding-left:10px;  border-bottom:1px solid gray; line-height:39px;}
.interest_content{ width:978px; overflow:hidden;}
.interest_content .interest1{width:140px; height:200px; margin-left:20px; float:left; margin-top:20px;}
.interest_content .interest1 img{ margin-left:8px; float:left; }
.interest1 h1{ font-size:14px; color:red; margin-left:10px; }
.interest1 p{ float:left; margin-left:5px;}
.interest1 a{ color:#005AB6; margin-left:50px;}


.zui_jin_interest{ width:978px; height:203px; border:1px solid #ddd;float:right; margin-top:10px;}
.zui_jin_interest h2{ width:978px; height:39px;  padding-left:10px;  border-bottom:1px solid #ddd; line-height:39px;}
.zui_jin_content{ width:978px; height:164px; overflow:hidden;}
.zui_jin_content .zui_jin1 {width:105px; height:150px; margin-left:15px; float:left; margin-top:20px; }
.zui_jin_content .zui_jin1 img{ margin-left:5px; float:left;}
.zui_jin1 h1{ font-size:14px; float:left; margin-top:10px; margin-left:8px; color:red;}




.footer{  height:130px; background:#EEEEEE; border-bottom:2px solid red;  }
.footer ul{ width:1200px; height:130px;margin:0 auto; overflow:hidden;}
.footer ul li{ width:300px; height:130px; float:left;}
.footer li h1{ font-size:24px; line-height:130px;}
.footer li .quan{ width:45px; height:45px; background:url(../images03/icons/icon_1_17.png) no-repeat center; float:left; margin-top:42px;}
.footer li .you{ width:45px; height:45px; background:url(../images03/icons/icon_1_20.png) no-repeat center; float:left;margin-top:42px;}
.footer li .kuai{ width:45px; height:45px; background:url(../images03/icons/icon_1_23.png) no-repeat center; float:left;margin-top:42px;}
.footer li .le{ width:45px; height:45px; background:url(../images03/icons/icon_1_25.png) no-repeat center; float:left;margin-top:42px;}

.service { width:1200px; height:300px; margin:0 auto; background:#F4F4F4;}
.service .service1{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service2{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service3{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service4{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service5{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .da_1{ margin-top:30px; height:40px;}
.service .da_1 a{ font-size:18px; margin-top:10px; margin-left:0;}
.service li a{ float:left; margin-left:40px;}
.service li{ float:right; margin-top:8px;width:120px; }
.service1 .gou_wu{ width:40px; height:40px; background:url(../images03/icons/icon_1_32.png) no-repeat center; float:left; margin-top:10px;}
.service2 .pei_song{ width:40px; height:40px; background:url(../images03/icons/icon_1_35.png) no-repeat center; float:left;margin-top:10px;}
.service3 .zhi_fu{ width:40px; height:40px; background:url(../images03/icons/icon_1_37.png) no-repeat center; float:left; margin-top:10px;}
.service4 .shou_hou{ width:40px; height:40px; background:url(../images03/icons/icon_1_40.png) no-repeat center; float:left;margin-top:10px;}
.service5 .bao_zhang{ width:40px; height:40px; background:url(../images03/icons/icon_1_43.png) no-repeat center; float:left;margin-top:10px;}
.service .ke_fu{ width:275px; height:300px; overflow:hidden;}
.ke_fu .ren_tou{ width:40px; height:40px; margin-top:38px; margin-left:40px; float:left; background:url(../images03/icons/icon_1_45.png) no-repeat center;}
.ke_fu a{ font-size:18px; float:left; margin-left:3px; margin-top:40px;}
.ke_fu .weixin{ width:230px; height:86px; float:left; margin-left:38px;}
.ke_fu .weixin .weixin_tu{ width:80px; height:78px; background:url(../demand/images/QRCodes.png) no-repeat center; float:left;}
.weixin p{ width:145px; float:left; margin-left:5px;}

.last .lian_jie{ width:550px; margin:0 auto; padding:20px;}
.last .lian_jie a{ padding:0 10px;/*  height:16px; line-height:16px; */}
.last ._icp{ margin:0 auto; width:550px; text-align:center;}
.last ._photo{ width:565px; margin:0 auto;}
.last img{ margin:16px auto 70px auto;} 