/* CSS Document */

.header1{ width:1024px;margin:0 auto;}
.header1 img{ margin:12px 0;}
.content1{ background-color:#63be8f;}
.content1 .loginbox{ width:1024px; height:605px;margin:0 auto; background:url(../demand/images/bg_login.png) no-repeat center; position:relative;}
.loginbox .loginform{ width:385px; /* height:380px; */background-color:#fff;position:absolute; top:110px; right:0px;}
.loginform h1{ font-size:20px; color:#666689;margin:20px 0 0 20px;}
.loginform .msg1{ color:#666; margin:10px 0 10px 20px; border:1px solid #ffe57d;background-color:#fff6d2; width:330px;height:24px; line-height:24px; padding-left:10px;
overflow:hidden;}
.loginform .msg1 .bulb{ float: left; width:23px; height:20px;margin-top: 3px; background:url(../demand/images/span_03.png) no-repeat center; }
.loginform .si_box{ width:340px; overflow:hidden;margin:0 0 20px 20px;border:1px solid #bdbdbd;}
.loginform .si_box .user_span{ float:left; width:38px; height:38px; border-right:1px solid #bdbdbd; background:#f3f3f3  url(../demand/images/icons/icon_04.jpg) no-repeat center;}
.loginform .si_box .pwd_span{ float:left; width:38px; height:38px; border-right:1px solid #bdbdbd; background:#f3f3f3  url(../demand/images/icons/icon_05.jpg) no-repeat center;}
.loginform .si_box input{ float:left; border:none; height:20px; margin:9px 10px;}
.forget_box{ width:340px; margin:-12px 0 0 20px; overflow:hidden;}
.forget_box .box1{
	float:left;
	line-height:20px;
	}
.forget_box .box2{ float:right; line-height:20px;background:url(../demand/images/icons/icon_06.png) no-repeat left;padding-left:25px;}
.loginform input.btn_submit{ width:338px; height:33px; background-color:#e4393c;
border:1px solid #cb2a2d; margin:20px 0 28px 20px; color:#fff; font-size:20px; cursor:pointer;}
.loginform p{
	margin-left:20px;}
.loginform .com_icons{ margin:5px 0 20px 20px; overflow:hidden; width:340px;}
.com_icons .tencent{ float:left; width:34px; height:34px; margin:0 10px; background:url(../demand/images/icons/icon_03.png) no-repeat center;}
.footer1{ color:#666;}
.footer1 .links{ width:550px; margin:0 auto; padding:20px;}
.footer1 .links a{ padding:0 18px;/*  height:16px; line-height:16px; */}
.footer1 .icp{ margin:0 auto; width:550px; text-align:center;}
.footer1 .photo{ width:565px; margin:0 auto;}
.footer1 img{ margin:16px auto 70px auto;} 



/* 注册页面 */
.container2{
	background-color:#f2f2f2;	
}
.header2{
	width:1028px;
	height:116px;
	margin:0 auto;	
	/*overflow:hidden;*/
}

.header2 img{ 
	/*height:64px   114*/
	padding:25px 0;
	float:left;
}
.header2 ul.tabs{
	float:left;
	height:41px;
	margin-top:74px;
	margin-left:86px;
	overflow:hidden;
	position:relative;
	top:2px;
}
.header2 ul.tabs li{
	float:left;
	margin:0 4px;
	border:1px solid #dddddd;
	border-bottom:none;
	padding-left:45px;
	padding-right:20px;
}
.header2 ul.tabs li.phone{
	background:#FFF url(../demand/images/icons/icon_01.png) no-repeat 15px 10px;
}
.header2 ul.tabs li.email{
	background:#f7f6f6 url(../demand/images/icons/icon_02.png) no-repeat 15px 10px;
}
.header2 ul.tabs li.current{
	border-top:2px solid #c5131e;	
}
.header2 ul.tabs li a{
	display:block;
	height:40px;
	line-height:40px;
}

.header2 div{
	float:right;
	height:40px;
	line-height:40px;
	margin-top:74px;
	margin-right:110px;
}
.header2 div a{
	color:#396ebe;
}

.content2{
	width:1026px;
	margin:0 auto;	
	border: 1px solid #dddddd;
	border-bottom:none;
	background-color:#FFF;
	height:600px;
}

.reg_form_1{
	margin:15px 0 0 90px;
	font-size:14px;
}
.reg_form_1 li{
	overflow: hidden;	
	margin:30px 0;
}
.reg_form_1 li span{
	float:left;
	height:40px;
	width:100px;
	line-height:40px;
	text-align:right;
	padding-right:15px;
}
.reg_form_1 li span em{
	font-size:20px;
	color:#e54044;
	padding:0 5px;
	display:inline-block;
	vertical-align:middle;
	
}
.reg_form_1 li input{
	height:34px;
	width:260px;
	float:left;
	border:1px solid #cccccc;
	padding:2px;	
}
.reg_form_1 li div{
	height:32px;
	line-height:32px;
	width:104px;
	float:left;
	border:1px solid #dddddd;
	background-color:#f4f4f4;
	margin:3px 16px;
	text-align:center;
}

.content2 p{
	margin:40px 0 34px 205px;
}
.content2 p a{
	color:#396ebe;
}
/*.content2 input[type='submit']{*/
.content2 input.reg_btn {
	margin:0 0 34px 205px;
	height:34px;
	width:260px;
	background-color:#e54044;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	border:none;
}
/* 主页 */
.top{ border:1px solid #ececec;}
.top_center{height:30px;width:1200px;margin:0 auto;}
.top_center .ship{ height:31px; width:108px;background-color:#fff; position:relative;bottom:0; text-align:center;line-height:31px; float:left;}
.top_center .top_bars{ float:right;}
.top_center .top_bars li{ float:left;}
.top_center .top_bars li a{ height:30px; line-height:30px; padding:0 18px;}
.top_center .top_bars li span.jt_down{ display:inline-block; width:13px; height:10px; margin:0 6px; vertical-align:middle;background:url(../demand/images/jt_down_03.png) no-repeat right;}
.header3{ width:1200px; margin:0 auto; overflow:hidden;}
/* 108px 210px */
.header3 img{ float:left; margin:20px 108px 20px 0;}
.header3 .search{ float:left; margin:20px 0 20px 10px;}
.header3 .searchbox{ border:1px solid #c5131e; overflow:hidden;}
.header3 .searchbox input{ border:none; height:34px; width:415px; float:left;}
.header3 .searchbox span{ float:left; line-height:34px; text-align:center; color:#fff; background-color:#c5131e; width:86px; font-size:14px; font-weight:bold; cursor:pointer;}
.search p{ height:32px; line-height:32px;}
.header3 .searchbox span a{ padding:0 10px;}
.header3 .carbox{
	float:right; margin:30px 0 44px 0; }
.header3 .carbox>div{float:left; height:30px;line-height:30px;border:1px solid #efefef;padding-left:32px; margin:0 10px;}
.header3 .myyy{   background:#f7f7f7 url(../demand/images/xiaotubiao_06.png) no-repeat left; }
.header3 .myyy .sj_down{ margin:0 3px;}
.header3 .myyy .sj_down{background:url(../demand/images/sj_right_07.png) no-repeat left; margin:0 6px;width:10px;height:7px; display:inline-block; vertical-align:middle;}
.header3 .car{  background: #f7f7f7 url(../demand/images/gouwuchi_06.png) no-repeat left;}
.header3 .car .sj_right{ margin:0 3px;}








.sj_down{
	display:inline-block;
	vertical-align:middle;
	width:10px;
	height:6px;
	background:url(../demand/images/sj_right_07.png) no-repeat center;
	}

.sj_right{
	display:inline-block;
	vertical-align:middle;
	width:8px;
	height:18px;
	background:url(../demand/images/gouwuchi_03.png) no-repeat center;
	}

.waikuang{border-bottom:2px solid #C00;}
.fenlei{ height:40px; width:1200px; margin:0 auto;}
.fenlei h1{ height:545px;width:208px; line-height:40px;float:left; background-color:#C00; color:#fff; padding-left:18px;}
.fenlei .xiangxi{ width:226px; height:505px; background-color:#FFF0F2; margin-left:-18px; color:#000;border:2px solid red; border-top:none;}
.xiangxi .li1{ /* width:226px; height:69px; */ float:left; border-bottom:1px solid #E8E8E8;  overflow:hidden;}
.xiangxi .li1 ul{width:201px; height:71px; padding-left:25px;overflow:hidden; }
.xiangxi .li1 li{ width:38px; height:22px; float:left;}
.xiangxi .li1 .ts_da{ width:201px; height:22px; font-size:18px; float:left; margin-bottom:10px;}
.xiangxi .li1_last{ /* width:226px; height:69px; */ float:left; border-bottom:none;  overflow:hidden;}
.xiangxi .li1_last ul{width:201px; height:71px; padding-left:25px;overflow:hidden; }
.xiangxi .li1_last li{ width:38px; height:22px; float:left;}
.xiangxi .li1_last .ts_da{ width:201px; height:22px; font-size:18px; float:left; margin-bottom:10px;}

.fenlei h1 span{ background:url(../images03/images/xiaojiantou_03.png) no-repeat right; float:right; width:15px; height:15px;margin-right:20px;margin-top:13px; }
.fenlei .heng_de li{ float:left; margin-left:25px; margin-top:10px;}
.da_center{ width:1200px; height:505px; margin:0 auto;}
.ad_center .tong_ji{ width:700px; height:494px; float:left; margin-top:10px;}
.ad_center .oppo{ width:698px; height:286px; background:url(../images03/images/OPPO_03.png) no-repeat center; margin-left:10px; float:left; }
.ad_center .three_phone { width:696px; height:207px; overflow:hidden;  margin-left:10px;  float:left; border:1px solid gray; }
.ad_center .three_phone ul{ width:700px; height:217px;overflow:hidden;}
.ad_center .line1{ width:1px; height:217px; background-color:gray; position:relative; right:232px; float:right;}
.ad_center .line2{ width:1px; height:217px; background-color:gray; position:relative; right:464px; float:right;}
.ad_center  li.p01{ width:232px; height:217px;  float:left; background:url(../images03/p01.jpg) no-repeat center;}
.da_center .poster{ width:255px; height:492px; float:right; margin-top:10px; border:1px solid gray;}
.da_center .poster_top h1{ font-size:18px; float:left; margin-left:5px; margin-top:10px;}
.da_center .poster_top p{ float:right; margin-right:5px; color:red;margin-top:10px;}
.poster .poster_centent{ width:255px; height:32px; float:left;}
.poster .poster_centent span{ float:left; width:12px; height:32px; margin-left:3px; background:url(../demand/images/xiaotubiao_11.png) no-repeat center;}
.poster .poster_centent h1{ height:32px; font-size:14px; line-height:32px; float:left; margin-left:8px;}


.news{ width:1200px; margin:10px auto; overflow:hidden;}/* 超出部分隐藏 */
.news{ width:1212px; overflow:hidden;  }
.news li{ width:291px; height:191px; margin-right:12px;  float:left; margin-bottom:12px;}
.news li.phone_1{ background-color:#F4F4F3;}
.phone_1 .xh{ font-size:24px; width:120px; height:30px;float:left; margin-top:35px;  margin-left:15px;}
.phone_1 .xinghao{ width:120px; height:20px; float:left; font-size:18px; margin-top:10px; margin-left:15px;}
.phone_1 .zengsong{ width:88px; height:22px; float:left; background-color:red; color:#fff;   font-size:18px; line-height:22px; text-align:center; margin-top:10px; margin-left:15px;}
.phone_1 .oppo_phone{ width:144px; height:164px; background:url(../images03/images/da_phone_03.png) no-repeat center; float:right; margin-right:12px; margin-top:18px;}
.home_product{ width:1200px; height:448px; margin:10px auto;}
.home_product_top{ width:360px; height:36px; overflow:hidden;}
.home_product_top .number1{ width:30px; height:31px; background:url(../demand/images/xiaotubiao_15.png) no-repeat center; float:left; margin-top:3px;}
.home_product_top .domestic{ width:100px; height:28px; font-size:24px; float:left;}
.home_product_top .hot{ width:60px; height:20px; color:red; float:right; font-size:14px; margin-top:5px;}
.home_product_content{ width:1200px; /* height:412px; */ border-top:2px solid #C5C5C5; border-bottom:1px solid #C5C5C5;}
.home_product_content .model{ width:190px; height:412px; overflow:hidden; float:left;}
.home_product_content .xiang_xi_model{ width:190px; height:157px;}
.xiang_xi_model ul{ float:left; overflow:hidden; height:140px; margin:15px 10px 10px 10px;}
.xiang_xi_model ul li{ width:85px; float:left; margin-top:4px;}
.model .favorable{ width:190px; height:255px; background: #E9FCFF url(../demand/images/f13.jpg) no-repeat center; float:left; }
.subject{ width:1010px; height:412px; float:left; overflow:hidden;}
.subject .subject_phone{ width:167px; height:203px; float:left;border:1px solid #EFEFEF; border-top:none; border-right:none;  }
.subject .subject_phone .phone_photo{width:117px; height:117px;background:url(../demand/images/f11.jpg) no-repeat center; margin-left:30px; margin-top:10px; float:left; margin-bottom:14px;}
.subject_phone p{ width:170px; height:15px; float:left; margin-left:20px; }
.subject_phone h1{ width:77px; height:20px; float:left; font-size:18px; color:red; margin-left:20px;}
.subject_big_phone{ width:503px; height:199px; background:url(../images03/images/2xiaoshi_03.png)  no-repeat center; float:left; border:1px solid #EFEFEF; border-top:none; border-right:none; overflow:hidden; padding-top:4px;}


.fankui{ width:1200px; height:304px; border:1px solid #DDDDDD; border-top:3px solid #AAAAA9; margin:0 auto;}

.fankui .liuyan1{ border-right:1px solid #DDDDDD; width:368px; float:left; height:304px;}
.fankui .liuyan1_top{ width:353px; height:40px; background:#F4F4F4; float:left;padding-left:15px; line-height:40px;}
.fankui .liuyan1_content1{ height:132px; width:368px; float:left;}
.fankui .liuyan1_content1 img{ width:103px ; height:73px; margin-left:6px; margin-top:36px; float:left;}
.fankui .liuyan1_content1 .you{ width:80px; height:30px;  float:left;margin-top:32px; margin-left:10px;}
.liuyan1_content1 .you_xiao_biao{ width:30px; height:30px; float:left;background:url(../images03/icons/icon_1_03.png) no-repeat center; }
.liuyan1_content1 .you p{ float:right; line-height:30px;}
.liuyan1_content1 h1{ width:243px; height:50px; float:left; background:#F8F8F8; margin-left:10px;  overflow:hidden;}


.fankui .liuyan2{ border-right:1px solid #DDDDDD; width:520px;  height:304px;float:left; }
.fankui .liuyan2_top{ width:505px; height:40px; background:#F4F4F4; float:left;padding-left:15px; line-height:40px;}
.fankui .liuyan2_content1{  width:485px; height:86px;border-bottom: 1px dashed #DDDDDD ; float:left; margin:0 10px;}
.liuyan2_content1 img{ width:60px; height:69px; float:left;  margin-top:10px;}
.liuyan2_content1 .wen_hao{ width:272px; height:25px; margin-left:8px; float:left; margin-top:23px;}
.liuyan2_content1 .wen_hao span{ width:22px; height:22px; float:left; background:url(../images03/icons/icon_1_10.png) no-repeat center; }
.liuyan2_content1 .gan_tan_hao{ width:272px; height:25px; margin-left:8px; float:left; margin-top:6px;}
.liuyan2_content1 .gan_tan_hao span{ width:22px; height:22px; float:left; background:url(../images03/icons/icon_1_14.png) no-repeat center; }


.liuyan3 .liuyan3_top{ width:294px; height:40px; background:#F4F4F4; float:left;padding-left:15px; line-height:40px;}
.liuyan3 .liuyan3_content{ width:274px; height:87px;border-bottom: 1px dashed #DDDDDD ; float:left; margin:0 10px;}
.liuyan3 .liuyan3_content img{ float:left;margin-left:15px; margin-top:8px;}
.liuyan3 .liuyan3_content h1{ float:left;margin-left:15px; margin-top:8px;}
.liuyan3 .liuyan3_content .price{ font-size:14px; color:red; float:left; margin-left:15px; margin-top:10px;}



.footer{  height:130px; background:#EEEEEE; border-bottom:2px solid red; }
.footer ul{ width:1200px; height:130px;margin:0 auto;}
.footer ul li{ width:300px; height:130px; float:left;}
.footer li h1{ font-size:24px; line-height:130px;}
.footer li .quan{ width:45px; height:45px; background:url(../images03/icons/icon_1_17.png) no-repeat center; float:left; margin-top:42px;}
.footer li .you{ width:45px; height:45px; background:url(../images03/icons/icon_1_20.png) no-repeat center; float:left;margin-top:42px;}
.footer li .kuai{ width:45px; height:45px; background:url(../images03/icons/icon_1_23.png) no-repeat center; float:left;margin-top:42px;}
.footer li .le{ width:45px; height:45px; background:url(../images03/icons/icon_1_25.png) no-repeat center; float:left;margin-top:42px;}

.service { width:1200px; height:300px; margin:0 auto; background:#F4F4F4;}
.service .service1{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service2{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service3{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service4{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .service5{ width:120px; height:200px; float:left; overflow:hidden;margin-left:65px;}
.service .da_1{ margin-top:30px; height:40px;}
.service .da_1 a{ font-size:18px; margin-top:10px; margin-left:0;}
.service li a{ float:left; margin-left:40px;}
.service li{ float:right; margin-top:8px;width:120px; }
.service1 .gou_wu{ width:40px; height:40px; background:url(../images03/icons/icon_1_32.png) no-repeat center; float:left; margin-top:10px;}
.service2 .pei_song{ width:40px; height:40px; background:url(../images03/icons/icon_1_35.png) no-repeat center; float:left;margin-top:10px;}
.service3 .zhi_fu{ width:40px; height:40px; background:url(../images03/icons/icon_1_37.png) no-repeat center; float:left; margin-top:10px;}
.service4 .shou_hou{ width:40px; height:40px; background:url(../images03/icons/icon_1_40.png) no-repeat center; float:left;margin-top:10px;}
.service5 .bao_zhang{ width:40px; height:40px; background:url(../images03/icons/icon_1_43.png) no-repeat center; float:left;margin-top:10px;}
.service .ke_fu{ width:275px; height:300px; overflow:hidden;}
.ke_fu .ren_tou{ width:40px; height:40px; margin-top:38px; margin-left:40px; float:left; background:url(../images03/icons/icon_1_45.png) no-repeat center;}
.ke_fu a{ font-size:18px; float:left; margin-left:3px; margin-top:40px;}
.ke_fu .weixin{ width:230px; height:86px; float:left; margin-left:38px;}
.ke_fu .weixin .weixin_tu{ width:80px; height:78px; background:url(../demand/images/QRCodes.png) no-repeat center; float:left;}
.weixin p{ width:145px; float:left; margin-left:5px;}

.last .lian_jie{ width:550px; margin:0 auto; padding:20px;}
.last .lian_jie a{ padding:0 10px;/*  height:16px; line-height:16px; */}
.last ._icp{ margin:0 auto; width:550px; text-align:center;}
.last ._photo{ width:565px; margin:0 auto;}
.last img{ margin:16px auto 70px auto;} 































